.modal {
	position: absolute;
	top: 7%;
	left: 50%;
	transform: translateX(-50%);
	max-width: 1440px;
	width: 100%;
	padding: 0 clamp-px(7, 15);
	margin: 0 auto;
	z-index: 100;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0.2s ease-in-out, opacity 0.2s ease-in-out;

	&--visible {
		visibility: visible;
		opacity: 1;
	}

	&__inner {
		background-color: $color-bg;
		border-radius: $offset-huge;
		box-shadow: $shadow-base;
		padding: $offset-huge;
	}

	&__grid-container {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(3, auto);
		justify-content: space-between;
		column-gap: 60px;
	}
}
