.modal
    .modal__inner
        .modal__grid-container
            include ../description/description.pug
            include ../format/format.pug
            include ../info/info.pug
            include ../statistics/statistics.pug