@media (max-width: 1230px) {
	.modal {
		&__inner {
			padding-top: 48px;
		}
		&__grid-container {
			grid-template-columns: 2fr 230px;
			column-gap: 0;
		}
	}

}

@media (max-width: 970px) {
	.modal {
		&__inner {
			padding-top: 36px;
		}
		&__grid-container {
			display: flex;
			flex-direction: column;
		}
	}

}

@media (max-width: 630px) {
	.modal {
		&__inner {
			padding: $offset-base;
		}
	}
}

