@media (max-width: 1230px) {
	.format {
		margin-bottom: $offset-base;
		margin: 0 auto;

		max-width: unset;
		width: 100%;
		grid-column: 1 / 3;
		grid-row: 4 / 5;
	}
}

@media (max-width: 970px) {
	.format {
		margin-bottom: $offset-base;
		order: 1;
	}
}

@media (max-width: 630px) {
	.format {
		padding: $offset-base;
		max-height: unset;
	}
}

@media (max-width: 440px) {
	.format {
		&__table-head-row {
			font-size: 13px;
		}
	}
}
