header.header 
    .header__container 
        .header__inner 
            a.header__link(href="index.html") 
                img.header__logo(src="./icons/header/header-logo.svg", alt="Logo", width="100", height="40")
            .header__menu 
                .header__menu-item 
                    span.header__text Мои кампании (256)
                .header__menu-item 
                    button.header__btn(type="button")
                        img.header__icon(src="./icons/header/settings.svg", alt="Icon settings", width="32", height="32")
                .header__menu-item 
                    button.header__btn(type="button")
                        img.header__icon(src="./icons/header/logout.svg", alt="Icon settings", width="32", height="32")
                