.header {
	background-color: $color-accent;
	padding: $offset-large 0;
	color: $color-bg;

	&__container {
		max-width: 1810px;
		padding: 0 15px;
		margin: 0 auto;
	}

	&__inner {
		display: flex;
		justify-content: space-between;
	}

	&__menu {
		display: flex;
		align-items: center;
		gap: $offset-base;
		font-size: $font-size-text;
	}

	&__btn {
		background-color: transparent;
		cursor: pointer;
		transition: opacity 0.2s ease-in-out;
		@media (any-hover: hover) {
			&:hover {
				opacity: 0.7;
			}
		}
	}
}
