section.descr
    .descr__inner 
        .descr__logo
            img.descr__main-logo(src="./icons/common/logo.svg", alt="Main logo", width="184", height="184")
        .descr__info 
            .descr__content
                h1.descr__title 
                    | Стартапы и бизнес Bussiness
                .descr__btn-mobile
                    include ../close-btn/close-btn.pug
            a.descr__link(href="#") 
                | Ссылка на площадку
            p.descr__text 
                | vc.ru — крупнейшая в рунете площадка для предпринимателей нового поколения. Сайт для тех, кому интересен бизнес в России и мире, технологии, модели роста, стартапы и компании покрупнее, неординарные герои, развитие рынков и различных сфер.